/* Container for all the buttons using CSS Grid layout */
.button-container {
  background-color:rgb(54, 59, 59);
  display: grid; /* Uses grid to layout buttons in a structured format */
  grid-template-columns: 1fr 1fr 1fr; /* Two columns of equal width */
  column-gap: 20px; /* Horizontal space between columns */
  row-gap: 20px;
 
  margin-top: 8px; /* Adds space above the container */
 
}

/* General button styling applied to all buttons */
button {
  padding: 5px; /* Adds space inside the button */
  width: 150px; /* Fixed width for uniformity */
  height: 50px; /* Fixed height for uniformity */
  border-radius: 5px; /* Slightly rounded corners */
}

/* Save button default state */
.save {
  font-size: 25px; /* Font size for the button text */
  background-color: rgb(50, 119, 58); /* Green background */
  color: white; /* White text */
  border: none; /* No border */
  cursor: pointer; /* Pointer cursor on hover */
}

/* Save button hover effect */
.save:hover {
  background-color: rgb(50, 50, 119); /* Change to blue on hover */
  color: white; /* Keep text white */
  border: none;
  cursor: pointer;
}

.home {
 font-size: 25px;
  color: white;
  text-align: center;
  padding: 5px; /* Adds space inside the button */
  width: 150px; /* Fixed width for uniformity */
  height: 50px; /* Fixed height for uniformity */
  border-radius: 5px; /* Slightly rounded corners */
  background-color: rgb(240, 160, 1); /* Green background */
  text-decoration: none;
}

.Receipts{
 font-size: 25px;
  color: white;
  text-align: center;
  padding: 5px; /* Adds space inside the button */
  width: 150px; /* Fixed width for uniformity */
  height: 50px; /* Fixed height for uniformity */
  border-radius: 5px; /* Slightly rounded corners */
  background-color: rgb(45, 1, 240); /* Green background */
  text-decoration: none;
}
/* Home button hover effect */
.home:hover {
  background-color: rgb(187, 22, 22); /* Change to blue on hover */
  color: white; /* Keep text white */
  border: none;
  cursor: pointer;
}
a{
  text-decoration: none;
  color: white;
}


/* cheques controll button */

/* Green Add Button */
.add-btn {
 background-color:green ;
  color: aliceblue;
  cursor: pointer;
  font-size: 25px;
  transition: background-color 0.2s ease;
}

.add-btn:hover {
  background-color: #08125e;
}

/* Red Remove Button */
.remove-btn {
   background-color: red;
  font-size: 25px;
  color: aliceblue;

  cursor: pointer;
  transition: background-color 0.2s ease;
}

.remove-btn:hover {
  background-color: #0f0506;
}


#confirmSaveBtn {
 
  background-color:green ;
  font-size: 25px;
  color: aliceblue;

  cursor: pointer;
  transition: background-color 0.2s ease;
}

#confirmSaveBtn:hover {
  background-color: #08125e;
}


#cancelSaveBtn {
 
   background-color: red;;
  font-size: 25px;
  color: aliceblue;

  cursor: pointer;
  transition: background-color 0.2s ease;
}
